USE [master]
GO
/****** Object:  Database [BakeryShop]    Script Date: 10/20/2019 2:56:58 PM ******/
CREATE DATABASE [BakeryShop]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BakeryShop', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\BakeryShop.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'BakeryShop_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\BakeryShop_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BakeryShop].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BakeryShop]
GO
/****** Object:  User [uyenhtnde130040]    Script Date: 10/20/2019 2:56:59 PM ******/
CREATE USER [uyenhtnde130040] FOR LOGIN [uyenhtnde130040] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[Customer]    Script Date: 10/20/2019 2:56:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customer](
	[C_id] [int] IDENTITY(1,1) NOT NULL,
	[C_username] [nvarchar](50) NOT NULL,
	[C_password] [nvarchar](50) NOT NULL,
	[C_name] [nvarchar](50) NOT NULL,
	[address] [nvarchar](150) NOT NULL,
	[age] [int] NOT NULL,
	[email] [nvarchar](50) NOT NULL,
	[phone] [nvarchar](10) NOT NULL,
	[gender] [nvarchar](5) NOT NULL,
	[role] [int] NOT NULL,
	[status] [int] NOT NULL,
	[boom] [int] NOT NULL,
 CONSTRAINT [PK_Customer] PRIMARY KEY CLUSTERED 
(
	[C_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Feedback]    Script Date: 10/20/2019 2:56:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Feedback](
	[F_id] [int] IDENTITY(1,1) NOT NULL,
	[first_name] [nvarchar](50) NOT NULL,
	[last_name] [nvarchar](50) NOT NULL,
	[email] [nvarchar](50) NOT NULL,
	[feedback] [nvarchar](500) NOT NULL,
	[star] [nvarchar](3) NOT NULL,
	[status] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Order]    Script Date: 10/20/2019 2:56:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order](
	[Or_id] [int] IDENTITY(1,1) NOT NULL,
	[C_id] [int] NOT NULL,
	[total] [int] NOT NULL,
	[phone] [nvarchar](10) NOT NULL,
	[address] [nvarchar](150) NOT NULL,
	[status] [int] NOT NULL,
	[date] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_Order] PRIMARY KEY CLUSTERED 
(
	[Or_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pro_Order]    Script Date: 10/20/2019 2:56:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pro_Order](
	[Or_id] [int] NOT NULL,
	[P_id] [int] NOT NULL,
	[quantity] [int] NOT NULL,
	[total] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product]    Script Date: 10/20/2019 2:56:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[P_id] [int] IDENTITY(1,1) NOT NULL,
	[P_name] [nvarchar](50) NOT NULL,
	[type] [nvarchar](50) NOT NULL,
	[price] [int] NOT NULL,
	[stock] [int] NOT NULL,
	[description] [nvarchar](2000) NOT NULL,
	[image] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_Product] PRIMARY KEY CLUSTERED 
(
	[P_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Customer] ON 

INSERT [dbo].[Customer] ([C_id], [C_username], [C_password], [C_name], [address], [age], [email], [phone], [gender], [role], [status], [boom]) VALUES (7, N'thaouyen', N'12345678', N'Thảo Uyên', N'Hà Huy Tập, Đà Nẵng', 21, N'thaouyen@gmail.com', N'0123456789', N'Nữ', 2, 0, 0)
INSERT [dbo].[Customer] ([C_id], [C_username], [C_password], [C_name], [address], [age], [email], [phone], [gender], [role], [status], [boom]) VALUES (9, N'huyvu', N'11111111', N'Huy Vũ', N'Điện Bàn, Quảng Nam', 21, N'huyvu@gmail.com', N'0112345678', N'Nam', 2, 0, 0)
INSERT [dbo].[Customer] ([C_id], [C_username], [C_password], [C_name], [address], [age], [email], [phone], [gender], [role], [status], [boom]) VALUES (10, N'hailong', N'12345678', N'Hải Long', N'Đà Nẵng', 21, N'hailong@gmail.com', N'0987654321', N'Nam', 1, 0, 0)
SET IDENTITY_INSERT [dbo].[Customer] OFF
SET IDENTITY_INSERT [dbo].[Order] ON 

INSERT [dbo].[Order] ([Or_id], [C_id], [total], [phone], [address], [status], [date]) VALUES (32, 7, 40, N'0123456789', N'Hà Huy Tập, Đà Nẵng', 0, N'2019-10-19')
SET IDENTITY_INSERT [dbo].[Order] OFF
INSERT [dbo].[Pro_Order] ([Or_id], [P_id], [quantity], [total]) VALUES (32, 2, 1, 40)
SET IDENTITY_INSERT [dbo].[Product] ON 

INSERT [dbo].[Product] ([P_id], [P_name], [type], [price], [stock], [description], [image]) VALUES (1, N'Matcha Cookie ', N'Cookie', 65, 11, N'Enjoy your afternoon tea with these buttery, crispy Green Tea Cookies with Matcha powder. The unique flavor of matcha in the cookies is surprisingly delightful!', N'image/MatchaCookies.jpg')
INSERT [dbo].[Product] ([P_id], [P_name], [type], [price], [stock], [description], [image]) VALUES (2, N'Gingerbread', N'Cookie ', 40, 9, N'These Gingerbread Men Cookies are as cute as can be. If desired, decorate with raisins, currants or cinnamon red hot candies for eyes and buttons. Or, pipe untinted or colored icing onto cookies', N'image/gingerbread.jpg')
INSERT [dbo].[Product] ([P_id], [P_name], [type], [price], [stock], [description], [image]) VALUES (3, N'Coconut Cookie', N'Cookie', 30, 4, N'Buttery, chewy Coconut Cookies! These cookies are made with flake coconut and (optional) caramel chips, then are dunked in dark chocolate and topped off with toasted coconut! These were such a hit with everyone who tried them — everyone was asking me for the recipe!', N'image/coconutcookie.jpg')
SET IDENTITY_INSERT [dbo].[Product] OFF
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Customer__10A1769D7398E899]    Script Date: 10/20/2019 2:56:59 PM ******/
ALTER TABLE [dbo].[Customer] ADD UNIQUE NONCLUSTERED 
(
	[C_username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Customer__AB6E61643896F360]    Script Date: 10/20/2019 2:56:59 PM ******/
ALTER TABLE [dbo].[Customer] ADD UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Customer__B43B145F22568973]    Script Date: 10/20/2019 2:56:59 PM ******/
ALTER TABLE [dbo].[Customer] ADD UNIQUE NONCLUSTERED 
(
	[phone] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK_Order_Customer] FOREIGN KEY([C_id])
REFERENCES [dbo].[Customer] ([C_id])
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK_Order_Customer]
GO
ALTER TABLE [dbo].[Pro_Order]  WITH CHECK ADD  CONSTRAINT [FK_Pro_Order_Order] FOREIGN KEY([Or_id])
REFERENCES [dbo].[Order] ([Or_id])
GO
ALTER TABLE [dbo].[Pro_Order] CHECK CONSTRAINT [FK_Pro_Order_Order]
GO
ALTER TABLE [dbo].[Pro_Order]  WITH CHECK ADD  CONSTRAINT [FK_Pro_Order_Product] FOREIGN KEY([P_id])
REFERENCES [dbo].[Product] ([P_id])
GO
ALTER TABLE [dbo].[Pro_Order] CHECK CONSTRAINT [FK_Pro_Order_Product]
GO
USE [master]
GO
